<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>rotating-tile Demo</title>
		<script src="../webcomponentsjs/webcomponents.min.js"></script>
		<link rel="import" href="rotating-tile.html">
		<style>
			body {
				margin: 32px 32px 0 32px;
			}
			p {
				margin-bottom: 64px;
			}
			.box {
				background-color: rgba(0,0,0,0.54);
				height: 50%;
				width: 50%;
				margin: auto;
			}
		</style>
	</head>
	<body unresolved>
		<rotating-tile></rotating-tile>
		<p>
			Default<br>
			<button id="play">Play</button>
			<button id="pause">Pause</button>
		</p>
		<rotating-tile duration="4000" color1="rgba(0,0,0,0.54)" color2="purple" color3="rgba(0,0,0,0.54)" color4="purple"></rotating-tile>
		<p>
			duration="4000"<br>
			color1="rgba(0,0,0,0.54)"<br>
			color2="purple"<br>
			color3="rgba(0,0,0,0.54)"<br>
			color4="purple"<br>
		</p>
		<rotating-tile class="circle"></rotating-tile>
		<p>class="circle"</p>
		<rotating-tile>
			<div class="box" fit></div>
		</rotating-tile>
		<p>with content inside</p>
		<rotating-tile style="border-radius:32px;height:128px;width:128px;opacity: 0.7;perspective: 256px;"></rotating-tile>
		<p>
			border-radius: 32px;<br>
			height: 128px;<br>
			width: 128px;<br>
			opacity: 0.54;<br>
			perspective: 256px;
		</p>
		<script>
			var play = document.querySelector('#play');
			var pause = document.querySelector('#pause');
			var tile = document.querySelector('rotating-tile');
			play.onclick = function() {
				tile.play();
			};
			pause.onclick = function() {
				tile.pause();
			};
		</script>
	</body>
</html>